{% extends "mywiki/layout.html" %}
{% block body %}
<div><h1 id="fromh1">About Tag Body</h1></div>
<div id="content">
    <p>HTML тег <strong><code>&lt;body&gt;</code></strong> призначений для зберігання тіла веб-сторінки (його контенту), що відображається у вікні браузера.</p>
    <p>Інформацію, яку слід виводити в документі, слід розташовувати саме всередині контейнера <strong><code>&lt;body&gt;</code></strong>. До такої інформації належить текст, зображення, теги, JavaScript скрипти і т. д.</p>
    <p>Тег <strong><code>&lt;body&gt;</code></strong> також застосовується для визначення кольорів посилань і тексту на веб-сторінці. Подібна практика в HTML засуджується і натомість для вказівки колірної схеми рекомендується використовувати стилі, застосовуючи їх до селектору <strong><code>&lt;body&gt;</code></strong>.</p>
</div>
{% endblock %}