{% extends "mywiki/layout.html" %}
{% block body %}
<div id="fromh1"><h1>About Tag Head</h1></div>
<div id="content">
    <p>HTML теґ <strong><code>&lt;head&gt;</code></strong> призначений для зберігання інших елементів, мета яких - допомогти браузеру в роботі з даними.</p>
    <p>Також всередині контейнера <strong><code>&lt;head&gt;</code></strong> можуть знаходитися мета-теги, які використовуються для зберігання інформації призначеної для браузерів і пошукових систем, назву документа, скрипти, стилі і багато іншого.</p>
    <p>Наприклад, механізми пошукових систем звертаються до Метатегів для отримання опису сайту, ключових слів та інших даних.</p>
</div>
{% endblock %}