{% extends "mywiki/layout.html" %}
{% block body %}
<div id="fromh1"><h1>About Tag HTML</h1></div>
<div id="content">
    <p>HTML теґ <code><strong>&lt;html&gt;</strong></code> повідомляє браузеру, що це HTML-документ.</p>
    <p>Теґ <code><strong>&lt;html&gt;</strong></code> є контейнером, який містить в собі весь вміст веб-сторінки, включаючи теґи <code><strong>&lt;head&gt;</strong></code> та <code><strong>&lt;body&gt;</strong></code>, крім теґа <code><strong>&lt;!DOCTYPE&gt;</strong></code>.</p>
    <p>Як правило, теґ <code><strong>&lt;html&gt;</strong></code> йде в документі другим, після елемента, що визначає тип документа (Document Type Definition, DTD), що встановлюється через елемент <code><strong>&lt;!DOCTYPE&gt;</strong></code>.</p>
</div>
{% endblock %}